@use 'application';

@use 'mfc/0-palette' as *;
@use 'mfc/1-foreground' as *;
@use 'mfc/2-background' as *;
@use 'mfc/3-highlights' as *;
@use 'mfc/5-material' as *;
@use 'black-cat/palette' as *;
@use 'black-cat/overrides' as *;


/*@use 'mods/display_breakname';*/
/*@use 'mods/display_fullname';*/
/*@use 'mods/display_browserfont';*/
/*@use 'mods/display_circleavatar';*/
/*@use 'mods/display_collapsedinteractions';*/
@use 'mods/display_fadedinteractions';
/*@use 'mods/display_transparentmedia';*/
/*@use 'mods/layout_1600px';*/
@use 'mods/layout_elefriend';
/*@use 'mods/layout_widercolumns';*/
/*@use 'mods/layout_mobile_bottombar';*/

$action-button-color: rgb(96, 105, 132);
$highlight-text-color: #F2D16D;
$ui-base-color: rgba(70,94,140);
$secondary-text-color: rgba(242,238,225,0.95);
$ui-base-lighter-color: #606984;


