$action-button-color: #bd6910;
$highlight-text-color: #20a88f;
$ui-highlight-color: $highlight-text-color;
$primary-text-color: #d0c6b3;
$ui-base-color: rgba(40,18,14,0.85);
$darker-text-color: #bdaf94;
$secondary-text-color: #ffebc0;

@use 'application';

@use 'mfc/mastodonFlat';
@use 'café/palette';
@use 'café/overrides';

/*@use 'mods/display_breakname';*/
/*@use 'mods/display_fullname';*/
/*@use 'mods/display_browserfont';*/
/*@use 'mods/display_circleavatar';*/
/*@use 'mods/display_collapsedinteractions';*/
@use 'mods/display_fadedinteractions';
/*@use 'mods/display_transparentmedia';*/
/*@use 'mods/layout_1600px';*/
@use 'mods/layout_elefriend';
/*@use 'mods/layout_widercolumns';*/
/*@use 'mods/layout_mobile_bottombar';*/
