$action-button-color: #ddffd6;
$highlight-text-color: #e6b863;
$ui-highlight-color: $highlight-text-color;
$primary-text-color: #f2f2f2;
$ui-base-color: rgba(238,225,191, 0.6);
$darker-text-color: #ece3cd;
$secondary-text-color: #e8b99b;

@use 'application';

@use 'mfc/mastodonFlat';
@use 'flora/palette';
@use 'flora/overrides';

//@use 'mods/display_breakname';
//@use 'mods/display_fullname';
//@use 'mods/display_browserfont';
//@use 'mods/display_circleavatar';
//@use 'mods/display_collapsedinteractions';
@use 'mods/display_fadedinteractions';
//@use 'mods/display_transparentmedia';
//@use 'mods/layout_1600px';
//@use 'mods/layout_elefriend';
//@use 'mods/layout_widercolumns';
//@use 'mods/layout_mobile_bottombar';
