// http://pokepalettes.com/#jigglypuff
$ui-base-color: #8f8571; // darkest #1
$ui-highlight-color: #cde0df; // vibrant #3
$ui-secondary-color: #413931; // lightest #7
$ui-primary-color: #d4e9cf; // lighter #0
$ui-primary-color-alt: #cddecd; // darker, for external pages #2

$about-page-text: lighten($ui-base-color, 50%);

@use 'application';

.icon-button.active {
    color: #77EDBC !important;
}

.button, .simple_form button, .dashboard__quick-access {
    background: $ui-primary-color;
    color: $ui-secondary-color;
  }
  
.button:hover, .simple_form button:hover, .dashboard__quick-access:hover {
  background: darken($ui-primary-color, 5%);
}

.notification-bar-action {
  color: $ui-highlight-color;
}