@use 'application';

@use 'mfc/mastodonFlat';
@use 'stardew-valley/palette';
@use 'stardew-valley/overrides';

/*@use 'mods/display_breakname';
@use 'mods/display_fullname';
@use 'mods/display_browserfont';
@use 'mods/display_circleavatar';
@use 'mods/display_collapsedinteractions';*/
@use 'mods/display_fadedinteractions';
/*@use 'mods/display_transparentmedia';
@use 'mods/layout_1600px';*/
@use 'mods/layout_elefriend';
/*@use 'mods/layout_widercolumns';
@use 'mods/layout_mobile_bottombar';*/

$action-button-color: rgb(86,22,12);
$highlight-text-color: rgb(61, 192,140);
$ui-base-color: rgba(255,210,132,0.9);
$secondary-text-color: #4b2d2c;


