
@use 'application';

@use 'mfc/mastodonFlat';
@use 'to-the-moon/palette';
@use 'to-the-moon/overrides';

/*@use 'mods/display_breakname';*/
/*@use 'mods/display_fullname';*/
/*@use 'mods/display_browserfont';*/
/* @use 'mods/display_circleavatar'; */
/*@use 'mods/display_collapsedinteractions';*/
@use 'mods/display_fadedinteractions';
/*@use 'mods/display_transparentmedia';*/
/*@use 'mods/layout_1600px';*/
@use 'mods/layout_elefriend';
/*@use 'mods/layout_widercolumns';*/
/*@use 'mods/layout_mobile_bottombar';*/

$action-button-color: rgb(96, 105, 132);
$highlight-text-color: rgb(242,197,167);
$ui-base-color: rgba(27,47,73,0.9);
$secondary-text-color: rgba(242,233,216,0.95);
